  
  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

body {
    background:#f2f2f2;
}



table {
  border-collapse: collapse;
  width: 100%;
  margin: 2em auto;
  font-size: 1.2em;
}

thead th {
  background-color: #333;
  color: white;
  padding: 1em;
  text-align: left;
}

tbody td {
  padding: 1em;
  border-bottom: 1px solid #333;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

#create-product-link, #home-product-link {
  display: block;
  margin: 2em auto;
  text-align: right;
  font-size: 1.2em;
}

#create-product-link a, #home-product-link a {
  color: blue;
    font-size: 14px;
    padding: 10px 20px;
    background-color: lightgray;
    border-radius: 25px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

#create-product-link a:hover, #home-product-link a:hover {
  background-color: #444;
  color: #fff;
  cursor: pointer;
}

button.delete {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}




